* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

header {
    background-color: rgba(0, 0, 255, 0.53);
    height: 120px;
    width: 100%;
}

.nav-container {
    height: 120px;
    width: min(1200px, 90%);
    margin: auto;
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
}

.nav-container img {
    margin: auto 5px;
    border-radius: 50%;
    border: solid white 2px;
}

.nav-container nav {
    display: flex;
    width: 700px;
}

:is(.nav-container, .menubar) nav ul {
    width: 100%;
    display: flex;
}

:is(.nav-container, .menubar) nav ul li {
    list-style: none;
    margin: auto;
    position: relative;
}

:is(.nav-container, .menubar) nav ul li a {
    text-decoration: none;
    margin: auto;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

:is(.nav-container, .menubar) nav ul li::before {
    content: '';
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 0;
    transition: .2s;
}

:is(.nav-container, .menubar) nav ul li:hover:before {
    width: 100%;
}

.nav-container .menu {
    font-size: 60px;
    width: 60px;
    height: 60px;
    margin: auto 5% auto auto;
    color: white;
    transition: 0.3s;
    transform: rotate(90deg);
}

body {
    overflow-x: hidden;
}

.menubar {
    height: 300px;
    width: 230px;
    position: absolute;
    background-color: grey;
    display: flex;
    transition: .5s;
    right: -230px;
}

.menubar nav {
    margin: auto;
    display: flex;
}

.menubar nav ul {
    display: grid;
    height: 300px;
}